@model IEnumerable<string>
@inject ICitiesServices citiesServiceInView

@{
    ViewBag.Title = "Home";
}
@*Here we are using DI to get the list of cities and print them in the view*@
<h1>Cities</h1>
@{
    List<string> citiesFromServiceInView = citiesServiceInView.GetCities();
}
<ul class="list">
    @foreach (string city in citiesFromServiceInView) // in here instead of citiesFromServiceInView I can use the Model
    {
        <li>@city</li>
    }
</ul>
            
<div>@ViewBag.InstanceId_CitiesService_1 </div>
<div>@ViewBag.InstanceId_CitiesService_2 </div>
<div>@ViewBag.InstanceId_CitiesService_3 </div>
<div>@citiesServiceInView.ServiceInstanceId</div>

<div class = "box">@ViewBag.InstanceId_CitiesService_InScope</div>

