@using ViewsExample.Models
@*Inside of the curly braces I can write any C# valid code*@
@{
    //Person person = new Person() { Name = "John", DateOfBirth = null, PersonGender = Gender.Male /*Convert.ToDateTime("1993-07-01")*/ };
}

@*@{ //Used only for demonstration
    //local function, but with the prefix functions it becomes a metod 
    double? GetAge(DateTime? dateOfBirth)
    {
    if (dateOfBirth is not null)
    {
    return Math.Round((DateTime.Now - dateOfBirth.Value).TotalDays / 365.25);
    }
    else
    {
    return null;
    }
    }

    //string alertMessage = $"<script>alert('{people.Count} people found')</script>"; // Javascript code that can be run inside
    }*@
@model IEnumerable<Person> // This is to access the modell straight from the view
<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.appTitle</title>
        <meta charset="utf-8"/>
        <link href="~/StyleSheet.css" rel="stylesheet" /link>
    </head>
    <body>
        <div class="page-content">
        @*@Html.Raw(alertMessage)*@
            <h1>Welcome </h1> @*Name was gotten from function*@
        @{
            List<Person>? people = (List<Person>?)ViewData["people"]; // this is to cast the list of objects necessary with viewData
        }

        @for (int i = 0; i < 2; i++)
        {
            Person person = people[i];
            <text>Hightlights of people</text>
            // This will be taken as plain text/ this is one way
            @*@:This is normal text *@
           <div class  = "box">@person.Name</div>
        }
        @foreach (Person person in ViewBag.people) // Viewbag makes the same as view data but it is not necessary to type cast
        {
            <div class = "box float-left w-50">
               <h3>@person.Name</h3> 
                <table class="table w-100">
                    <tbody>
                        <tr>
                            <td>Gender</td>
                            <td>@person.PersonGender</td>
                        </tr>
                        <tr>
                            <td>Date of birth</td>
                            <td>@person.DateOfBirth?.ToString("MM/dd/yyyy")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        </div>
    </body>
</html>