@using ViewsExample.Models
@*Inside of the curly braces I can write any C# valid code*@
@{
    string appTitle = "Asp.Net Core Demo App";
    List<Person> people = new List<Person>()
    {
        new Person() { Name = "Cesar", DateOfBirth = DateTime.Parse("1993-04-05"), PersonGender = Gender.Male },
        new Person() { Name = "Marcela", DateOfBirth = DateTime.Parse("1995-06-12"), PersonGender = Gender.Female },
        new Person() { Name = "Laisa", DateOfBirth = DateTime.Parse("2000-11-11"), PersonGender = Gender.Other },

    };
    //Person person = new Person() { Name = "John", DateOfBirth = null, PersonGender = Gender.Male /*Convert.ToDateTime("1993-07-01")*/ };
}

@functions{
    //local function, but with the prefix functions it becomes a metod 
    double? GetAge(DateTime? dateOfBirth)
    {
        if (dateOfBirth is not null)
        {
            return Math.Round((DateTime.Now - dateOfBirth.Value).TotalDays / 365.25);
        }
        else
        {
            return null;
        }
    }
    string Name { get; set; } = "Hello name";
}

<!DOCTYPE html>
<html>
    <head>
        <title>@appTitle</title>
        <meta charset="utf-8"/>
    </head>
    <body>
       <h1>Welcome @Name</h1> @*Name was gotten from function*@
    @for (int i = 0; i <2; i++)
    {
        Person person = people[i];
        <text>Hightlights of people</text> // This will be taken as plain text/ this is one way
        @*@:This is normal text *@
        <div>@person.Name</div>
    }
    @foreach (Person person in people)
    {
        <div>
            @person.Name
            <span>, </span>
            <span>@person.PersonGender </span>
            @if (person.DateOfBirth.HasValue)
            {
                <span>@person.DateOfBirth.Value.ToString("MM/dd/yyyy")</span>
                <span>@GetAge(person.DateOfBirth) years old</span>
            }
        </div>
    }
    </body>
</html>